*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fff;
    padding: 50px;
  }
  .container{
    margin: auto;
    min-width: 50%;
    max-width: 600[x];
    display: flex;
    flex-direction: column;
  }
  .form{
    background-color: #f4f2f7;
    padding: 25px;
    border-radius: 10px;
    width: 100%;
  }
  .form h1{
    padding-bottom: 20px;
  }
  .form div{
    display: flex;
    justify-content: center ;
    gap: 8px;
  }
  #username {
    height: 45px;
    width: 400px;
    padding: 10px;
    width: 200px;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
    border: none;
    flex-grow: 0.8;
  }
  #submit{
    height: 45px;
    width: 150px;
    background-color: rgb(149, 101, 195);
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: none;
  }
  #userData {
    padding: 20px;
    margin-top: 20px;
    background: #fff;
    display: inline-block;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  img {
    border-radius: 50%;
    width: 100px;
  }

  .block{
    display: block;
  }


  /*-------------------------------------responsive---------------------------------------------------*/
  @media (max-width: 768px) {
    body{
      font-size: .8rem;
      padding: 10px;
    }
    .form div{
      flex-direction: column;
    }
  }